.benefits {
  position: relative;
  padding-top: 109px;
  padding-bottom: 77px;

  &::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 1346px;
    background: url("../img/main-triangles-desctop.png") no-repeat;
    background-size: contain;
  }

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    padding-top: 54px;
    padding-bottom: 28px;

    &::before {
      left: unset;
      right: 0;
      top: 90px;
      width: 671px;
      height: 872px;
      background: url("../img/main-triangles-tablet.png") no-repeat;
    }
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    padding-top: 37px;
    padding-bottom: 34px;

    &::before {
      top: 652px;
      height: 872px;
      background: url("../img/main-triangles-mobile.png") no-repeat;
      background-size: contain;
    }
  }
}

.benefits__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    flex-direction: column;
    margin-left: -1px;
  }
}

.benefits__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 48.4%;
  max-width: 570px;
  min-height: 299px;
  margin-bottom: 30px;
  padding: 38px 40px 40px 42px;
  transition: $default-transition;
  background-color: $white;
  border: 1px solid $border-gray;
  border-left: 3px solid $blue;

  &:nth-of-type(odd) {
    margin-right: 30px;
  }

  b {
    margin: 0;
    margin-top: 23px;
    margin-bottom: 16px;
    padding: 0;
    font-size: 24px;
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-weight: 400;
    line-height: 140.6%;
    color: $blue;
  }

  p {
    margin: 0;
    padding: 0;
  }

  &:focus {
    background-color: $blue;
    border-color: $blue;

    b {
      color: $white;
    }

    p {
      color: $white;
    }

    .benefits__icon {
      fill: $white;
    }
  }

  &:hover {
    background-color: $blue;
    border-color: $blue;

    b {
      color: $white;
    }

    p {
      color: $white;
    }

    .benefits__icon {
      fill: $white;
    }
  }

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    width: 47.9%;
    min-height: 232px;
    padding: 24px 20px 26px 24px;

    b {
      margin-top: 8px;
      margin-bottom: 10px;
    }
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    width: 100%;
    max-width: unset;
    min-height: 233px;
    margin-bottom: 20px;
    padding: 24px 15px 29px 24px;

    &:nth-of-type(2) {
      padding-right: 8px;
    }

    &:nth-of-type(odd) {
      margin-right: 0;
    }

    b {
      margin-top: 14px;
      margin-bottom: 10px;
      font-size: 20px;
    }
  }
}

.benefits__icon {
  fill: $blue;
}
