.footer {
  position: relative;
  background-color: $white;

  &::before {
    content: "";
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $line-gray;
  }

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    &::before {
      bottom: 60px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 350px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $line-gray;
    }
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    &::before {
      bottom: 110px;
    }

    &::after {
      content: none;
    }
  }
}

.footer__feedback {
  position: relative;
  padding-top: 90px;
  padding-bottom: 113px;
  background-color: $blue;

  &::before {
    content: "";
    position: absolute;
    top: 35px;
    right: 60px;
    width: 214px;
    height: 665px;
    background: url("../img/triangles-footer.png") no-repeat;
    background-size: contain;
  }

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    padding-top: 80px;
    padding-bottom: 104px;

    &::before {
      content: none;
    }
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    padding-top: 30px;
    padding-bottom: 44px;

    &::before {
      content: none;
    }
  }
}

.footer__feedback-block {
  position: relative;
  max-width: 1170px;

  &::before {
    content: "";
    position: absolute;
    top: -153px;
    left: -200px;
    z-index: 0;
    width: 740px;
    height: 640px;
    background: url("../img/triangles.png") no-repeat;
    background-size: contain;
  }

  &::after {
    content: "";
    position: absolute;
    top: 70px;
    left: -25px;
    z-index: 0;
    width: 511px;
    height: 288px;
    background: url("../img/paper-airplane.png") no-repeat;
    background-size: contain;
  }

  @media (min-width: $desktop-width) and (max-width: $desktop-mid-width) {
    &::after {
      top: 70px;
      left: 0;
      width: 411px;
      height: 288px;
    }
  }

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }
}

.footer__feedback-main-content {
  display: flex;
  flex-direction: column;
  width: 570px;
  margin-left: auto;
  margin-right: -27px;
  background-color: $blue;

  h2 {
    z-index: 1;
    margin: 0;
    margin-bottom: 12px;
    font-size: 36px;
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-weight: 400;
    line-height: 140.6%;
    color: $white;
  }

  p {
    z-index: 1;
    margin: 0;
    margin-left: 2px;
    margin-bottom: 49px;
    color: $white;
  }

  @media (min-width: $desktop-width) and (max-width: $desktop-mid-width) {
    margin-right: 10px;
  }

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    width: 100%;
    margin-left: 0;
    margin-right: unset;
    padding-right: 62px;
    padding-left: 65px;

    h2 {
      margin-bottom: 16px;
      font-size: 32px;
    }

    p {
      margin-bottom: 52px;
    }
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    width: 100%;
    margin-right: unset;
    margin-left: 0;

    h2 {
      font-size: 28px;
      margin-bottom: 14px;
    }

    p {
      margin-bottom: 23px;
      margin-left: 0;
    }
  }
}

.footer__feedback-form {
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 3px;
  background-color: $blue;

  textarea {
    height: 154px;
    padding: 11px 14px;
    color: $white;
    border: 2px solid transparent;
    background-color: $white-0-1;
    outline: 0;
    transition: $default-transition;
    resize: none;
    border-radius: 0;

    &::placeholder {
      color: $white;
    }

    &:focus {
      border-color: $gray;
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    textarea {
      height: 159px;
      padding: 11px 15px;
    }
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    textarea {
      height: 104px;
      margin-left: -2px;
      padding: 11px 15px;
    }
  }
}

.footer__feedback-required-info {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: 0;

  input {
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 270px;
    height: 50px;
    margin-bottom: 10px;
    padding: 12px 14px;
    color: $white;
    border: 2px solid transparent;
    border-radius: 0;
    background-color: $white-0-1;
    outline: 0;
    transition: $default-transition;

    &:nth-last-of-type(even) {
      margin-right: 31px;
    }

    &::placeholder {
      color: $white;
    }

    &:focus {
      border-color: $gray;
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    margin-bottom: 34px;

    input {
      max-width: unset;
      height: 51px;
      margin-bottom: 10px;
      padding: 12px 15px;

      &:nth-last-of-type(even) {
        margin-right: 32px;
      }
    }
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    flex-direction: column;
    margin-bottom: 0;

    input {
      max-width: unset;
      height: 51px;
      margin-bottom: 32px;
      margin-left: -2px;
      padding: 12px 15px;

      &:nth-last-of-type(even) {
        margin-right: 0;
      }
    }
  }
}

.footer__feedback-agree {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 45px;
  padding: 0;
  border: 0;

  input {
    display: none;
  }

  label {
    position: relative;
    max-width: 230px;
    margin-top: 7px;
    font-size: 14px;
    line-height: 1;
    color: $white-0-8;
    cursor: pointer;

    &:focus {
      opacity: 0.7;
    }

    &:hover {
      opacity: 0.7;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -32px;
      width: 16px;
      height: 16px;
      border: 1px solid $white;
    }

    &::after {
      content: none;
      position: absolute;
      top: 4px;
      left: -29.5px;
      width: 12px;
      height: 12px;
      background: url("../img/check.svg") no-repeat;
      background-size: contain;
    }
  }

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    margin-top: 45px;

    label {
      margin-top: 10px;
      margin-right: 12px;
    }
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    margin-top: 31px;
    flex-direction: column;

    label {
      margin-top: 0;
      margin-left: 32px;

      &::before {
        left: -34px;
      }

      &::after {
        left: -32px;
      }
    }
  }
}

.footer__feedback-agree input:checked ~ label::after {
  content: "";
}

.footer__feedback-button {
  flex-grow: 2;
  max-width: 270px;
  margin-right: 70px;
  letter-spacing: 0.7px;

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    max-width: unset;
    margin-right: 72px;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    max-width: unset;
    margin-right: 0;
    margin-bottom: 33px;
    margin-left: -2px;
  }
}

.footer__block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 65px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    padding-top: 21px;
    padding-bottom: 14px;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 14px;
  }
}

.footer__logo {
  order: 1;
  width: 220px;
  height: 52px;
  margin-right: 10px;

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    margin-left: 12px;
  }
}

.footer__social {
  position: absolute;
  top: 170px;
  left: 29px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 115px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    position: unset;
    order: 3;
    margin-top: 10px;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    position: unset;
    order: 3;
    margin-top: 32px;
  }
}

.footer__social-item {
  width: 27px;
  height: 27px;
  margin-bottom: 10px;

  &:not(:nth-of-type(3n)) {
    margin-right: 14px;
  }
}

.footer__social-link {
  width: 27px;
  height: 27px;
  cursor: pointer;
  border-radius: 50%;
  transition: $default-transition;
  outline: 0;

  .footer__social-icon {
    fill: $extra-gray;
  }

  &:focus {
    .footer__social-icon {
      fill: $blue;
    }
  }

  &:hover {
    .footer__social-icon {
      fill: $blue;
    }
  }

  &:active {
    .footer__social-icon {
      fill: $blue;
      opacity: 0.7;
    }
  }
}

.footer__main-info {
  order: 2;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  min-width: 700px;
  max-width: 990px;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    order: 4;
    min-width: unset;
    max-width: unset;
    width: 100%;
    margin-top: 64px;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    order: 4;
    flex-direction: column;
    min-width: unset;
    max-width: unset;
    width: 100%;
    margin-top: 85px;
  }
}

.footer__main-info-item {
  position: relative;
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    font-size: 15px;
    font-family: "RobotoCondensed", "Arial", sans-serif;
    line-height: 1.06;
    letter-spacing: 0.7px;
    color: $special-gray;
    text-transform: uppercase;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    margin-bottom: 30px;

    &::before {
      content: "";
      position: absolute;
      top: -32px;
      left: -16px;
      width: calc(100% + 31px);
      height: 1px;
      background-color: $border-gray;
    }

    p {
      margin-bottom: 27.5px;
    }
  }
}

.footer__main-info-item--contacts {
  margin-left: auto;

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    margin-right: 10px;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    margin-left: unset;
    padding-right: 10px;
  }
}

.footer__main-info-button {
  position: absolute;
  top: -3px;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 0;
  background: none;
  border: none;
  outline: 0;

  .no-js & {
    display: none;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    display: inline-flex;
  }
}

.footer__main-info-button-plus {
  display: block;

  .footer__main-info-item--open & {
    display: none;
  }
}

.footer__main-info-button-minus {
  display: none;

  .footer__main-info-item--open & {
    display: block;
  }
}

.footer__main-info-sub-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
  margin: 0;
  margin-left: -1px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    flex-wrap: nowrap;
    height: unset;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    display: none;
    flex-wrap: nowrap;
    height: unset;

    .no-js & {
      display: flex;
    }

    .footer__main-info-item--open & {
      display: flex;
    }
  }
}

.footer__main-info-sub-item {
  margin-right: 74px;

  p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.66;
    color: $special-gray-0-5;
    text-transform: unset;
  }

  .footer__main-info-sub-list--contacts & {
    margin-right: 0;

    p {
      margin: 0;
      padding: 0;
      font-size: 15px;
      font-family: "PTMono", "Arial", sans-serif;
      letter-spacing: 0;
      line-height: 1.66;
      color: $special-gray-0-5;
      text-transform: unset;
    }
  }

  @media (min-width: $desktop-width) and (max-width: $desktop-mid-width) {
    margin-right: 35px;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    margin-right: unset;
  }
}

.footer__main-info-sub-link {
  font-size: 15px;
  line-height: 1.66;
  color: $special-gray-0-5;
  transition: $default-transition;

  &:focus {
    color: $blue;
  }

  &:hover {
    color: $blue;
  }

  &:active {
    color: $blue;
    opacity: 0.5;
  }
}

.footer__protect {
  order: 3;
  display: flex;
  margin-top: 71px;
  margin-right: 142px;

  b {
    margin: 0;
    margin-right: 75px;
    padding: 0;
    font-size: 13px;
    line-height: 1.84;
    font-weight: 400;
    text-transform: uppercase;
    color: $special-gray-0-5;
    letter-spacing: 0.4px;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 1.84;
    font-weight: 400;
    text-transform: uppercase;
    color: $special-gray-0-5;
    letter-spacing: 0.4px;
  }

  @media (min-width: $desktop-width) and (max-width: $desktop-mid-width) {
    b {
      margin-right: 25px;
    }
  }

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    order: 2;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;

    b {
      display: none;
    }
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    order: 2;
    margin-top: 25px;
    margin-right: unset;

    b {
      display: none;
    }
  }
}

.footer__privacy-terms {
  order: 4;
  margin: 0;
  margin-top: 71px;
  padding: 0;
  font-size: 13px;
  line-height: 1.84;
  font-weight: 400;
  text-transform: uppercase;
  color: $special-gray-0-5;
  letter-spacing: 0.4px;
  transition: $default-transition;

  &:focus {
    color: $blue;
  }

  &:hover {
    color: $blue;
  }

  &:active {
    color: $blue;
    opacity: 0.5;
  }

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    order: 5;
    margin-top: 58px;
    margin-left: 3px;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    order: 5;
    margin-top: 27px;
  }
}

.footer__developer {
  display: flex;
  order: 5;
  margin-top: 71px;
  margin-left: auto;

  b {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 1.84;
    font-weight: 400;
    text-transform: uppercase;
    color: $special-gray-0-5;
    letter-spacing: 0.4px;
  }

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    order: 6;
    margin-top: 58px;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    order: 6;
    margin-left: unset;
    margin-top: 20px;
  }
}
