.success {
  position: fixed;
  top: calc(50% - 80px);
  left: calc(50% - 130px);
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 160px;
  background-color: $blue;
  border: 2px solid $blue-dark;

  p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1;
    color: $white;
  }
}

.success--show-message {
  display: flex;
}
