.popup {
  position: fixed;
  top: 136px;
  left: calc(50% - 245px);
  z-index: 3;
  display: none;
  flex-direction: column;
  width: 490px;
  padding: 30px 39px 40px 39px;
  background-color: $blue;

  h2 {
    margin: 0;
    margin-bottom: 13px;
    padding: 0;
    font-size: 28px;
    line-height: 140%;
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-weight: 400;
    color: $white;
  }

  p {
    width: 381px;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    color: $white;
  }

  .popup--open & {
    display: flex;
  }
}

.popup__button-close {
  position: absolute;
  top: 20px;
  right: 26px;
  width: 16.5px;
  height: 16.5px;
  background: none;
  border: none;
  cursor: pointer;
  transition: $default-transition;
  outline: 0;

  &:focus {
    opacity: 0.7;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.popup__button-close-icon {
  fill: $white;
}

.popup__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $blue;

  input {
    height: 51px;
    margin-bottom: 31px;
    padding: 12px 22px;
    color: $white;
    border: 2px solid transparent;
    background-color: $white-0-1;
    outline: 0;
    transition: $default-transition;

    &::placeholder {
      color: $white;
    }

    &:focus {
      border-color: $gray;
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }

  textarea {
    width: 100%;
    height: 104px;
    padding: 12px 22px;
    color: $white;
    border: 2px solid transparent;
    background-color: $white-0-1;
    outline: 0;
    transition: $default-transition;
    resize: none;

    &::placeholder {
      color: $white;
    }

    &:focus {
      border-color: $gray;
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }
}

.popup__button {
  width: 100%;
  min-height: 48px;
  margin-top: 30px;
  margin-bottom: 35px;
  padding-top: 5px;
  border-radius: 5px;
  letter-spacing: 0.7px;
}

.popup__agree {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 48px;
  border: none;

  input {
    display: none;
  }

  label {
    position: relative;
    width: 320px;
    font-size: 14px;
    line-height: 1;
    color: $white-0-8;
    cursor: pointer;

    &:focus {
      opacity: 0.7;
    }

    &:hover {
      opacity: 0.7;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -48px;
      width: 16px;
      height: 16px;
      border: 1px solid $white;
    }

    &::after {
      content: none;
      position: absolute;
      top: 4px;
      left: -45px;
      width: 12px;
      height: 12px;
      background: url("../img/check.svg") no-repeat;
      background-size: contain;
    }
  }
}

.popup__agree input:checked ~ label::after {
  content: "";
}
