.wrapper {
  min-width: $desktop-width;
  width: 100%;
  max-width: 1472px;
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    min-width: $tablet-width;
    max-width: unset;
    padding: 0 25px;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    min-width: $mobile-width;
    max-width: unset;
    padding: 0 15px;
  }
}
