$white: #ffffff;
$white-0-8: rgba(255, 255, 255, 0.8);
$white-0-1: rgba(255, 255, 255, 0.1);
$black-0-5: rgba(0, 0, 0, 0.5);
$gray: #666666;
$extra-gray: #cdcdcd;
$special-gray: #1b2d37;
$special-gray-0-5: rgba(27, 45, 55, 0.5);
$special-extra: #788891;
$special-dark: #203c42;
$line-gray: rgba(98, 105, 98, 0.2);
$border-gray: #ebebeb;
$blue: #00b2ff;
$blue-dark: #041496;
$default-transition: 0.15s ease-in-out;
$mobile-width: 320px;
$max-mobile-width: 767px;
$tablet-width: 768px;
$max-tablet-width: 1023px;
$desktop-width: 1024px;
$desktop-mid-width: 1340px;
